{% extends 'base.html.twig' %}

{% block title %}GSB - Bienvenue{% endblock %}

{% block body %}

    <div class="min-h-screen bg-gray-100 flex items-center justify-center">
        <div class="max-w-4xl w-full bg-white rounded-lg shadow-md p-6">
            <div class="text-center">
                <h1 class="text-4xl font-bold text-gray-800">Bienvenue sur GSB</h1>
                <p class="mt-4 text-gray-600">Le système de gestion GSB, simplifié pour vous.</p>
            </div>

            <div class="mt-8 flex justify-center">
                <a href="{{ path('app_login') }}" class="bg-blue-500 text-white px-6 py-3 rounded-md hover:bg-blue-600 transition">
                    Démarrer
                </a>
                <a href="{{ path('app_fiche_frais_index')}}" class="bg-gray-300 text-gray-800 px-6 py-3 rounded-md hover:bg-gray-400 transition ml-4">
                    Voir les fiches de frais
                </a>
                <a href="{{ path('app_saisie_fiche') }} " class="bg-gray-300 text-gray-800 px-6 py-3 rounded-md hover:bg-gray-400 transition ml-4">
                    Saisir une fiche de frais
                </a>
            </div>
        </div>
    </div>
{% endblock %}